<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jay.myapplication" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".Make_choice"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Categories"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".Vegetable_cat"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".Fruits_cat"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Dairy_cat"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Meat_cat"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Seafood_cat"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Dessert_cat"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Bakery_cat"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Look_for_recipes"
            android:label="@string/app_name">

        </activity>

        <activity
            android:name=".Asia_cat"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".America_cat"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".India_cat"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Italy_cat"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Mexico_cat"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

        </activity>
    </application>
</manifest>
